@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
.icon {
    position: absolute;
    right: 660px;
    cursor: pointer;
    color: #666;
    font-size: 1.5rem;
  }