@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #eaf4ff;
}

.usertype-page {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.usertype-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  border-bottom: 1px solid #ccc;
}

.logo-ensc{
  height: 40px;
}

.logo-apollo {
  height: 60px;
}

.etab-name {
  font-size: 1.3rem;
  color: #333;
  font-weight: 600;
}

.usertype-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.roles-container {
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 2rem; /* Augmenter l'espace interne si nécessaire */
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 350px;
  height: fit-content;
}


.role-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.8rem;
}

.role-card:last-child {
  border-bottom: none;
}

.role-card:hover {
  background-color: #f0f8ff;
  border-radius: 10px;
}

.role-card img {
  width: 50px;
  height: 50px;
}

.role-card span {
  font-weight: 500;
  color: #333;
  font-size: 1.2rem;
}
